emoji==2.8.0
google-api-python-client==2.109.0
google-auth==2.25.2
google-auth-oauthlib==1.0.0
Markdown==3.8.2
openai==0.27.8
python-dotenv==1.2.2
tiktoken==0.3.3
tzdata>=2023.3; platform_system == "Windows"
